.Principal {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 85%;
  background-image: url("images/NetflixBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.MatheusFlix {
  color: #E50914;
  font-size: 3rem;
  width: 100vw;
  height: 4rem;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.Titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}

.Titulo h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: bold;
}

.Titulo h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.Titulo button {
  background-color: #E50914;
  border: none;
  color: #fff;
  width: 25rem;
  height: 6rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s;
}

.Titulo button h1{
 font-size: 1.5rem;
}

.Titulo button:hover {
  background-color: #75040a;
}